/* table {
  border: 2px dashed;
  padding: 7px;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 18px;
} */

table th,
td {
  padding: 0 25px 5px 0;
}

.error {
  color: red;
  background: #eee;
  border-radius: 15px;
  border-style: dotted;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

.success {
  color: green;
  background: #eee;
  border-radius: 15px;
  border-style: dotted;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

li {
  list-style: none;
}

html {
  max-width: 70ch;
  margin: auto;
  font-size: 1.25em;
  color: #333;
  line-height: 1.4;
}

body {
  border-radius: 15px;
  border-style: dashed;
  border-width: 2px;
  padding: 0 25px 30px;
  margin: 10px;
}

.dot {
  border-radius: 15px;
  border-style: dotted;
  border-width: 2px;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}
