@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  /* background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  font-optical-sizing: auto;
  /* standards */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #fffbeb;
}

/* table {
  border: 2px dashed;
  padding: 7px;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 18px;
} */

/* table th,
td {
  padding: 0 25px 5px 0;
}

.error {
  color: red;
  background: #eee;
  border-radius: 15px;
  border-style: dotted;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

.success {
  color: green;
  background: #eee;
  border-radius: 15px;
  border-style: dotted;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

li {
  list-style: none;
}

html {
  max-width: 70ch;
  margin: auto;
  font-size: 1.25em;
  color: #333;
  line-height: 1.4;
}

body {
  border-radius: 15px;
  border-style: dashed;
  border-width: 2px;
  padding: 0 25px 30px;
  margin: 10px;
}

.dot {
  border-radius: 15px;
  border-style: dotted;
  border-width: 2px;
  padding: 7px;
  margin: 10px 0;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
} */
