.error {
  color: rgb(182, 81, 81);
  background: #eee;
  font-size: 20px;
  border-style: dashed;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.success {
  color: rgb(78, 136, 78);
  background: #eeeeee;
  font-size: 20px;
  border-style: dashed;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* minimal css */

html {
    box-sizing: border-box;
    max-width: 70ch;
    margin: auto;
    font-size: 1.25em;
    color: #333;
    line-height: 1.4;
}

* {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    